/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

body, tr, .navbar-light .navbar-brand, .navbar-light .nav-link {
    color: #727272 !important;
}

    body:not(header) {
        background-color: #f1f1f1;
    }

.blurred-background-white, .modal-content {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.7) !important
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.tile {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff !important;
    transition: all .5s;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
}

    .tile:hover {
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    }

.tile-sm {
    transition: all .5s;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

    .tile-sm > div:first-child {
        border-top-left-radius: .25rem !important;
        border-top-right-radius: .25rem !important;
    }

    .tile-sm > div:last-child {
        border-bottom-right-radius: .25rem !important;
        border-bottom-left-radius: .25rem !important;
    }

    .tile-sm:hover {
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15) !important;
    }

.tile-shadow-hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

    .tile-shadow-hover:hover {
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    }

.tile-shadow-hover-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

    .tile-shadow-hover-sm:hover {
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15) !important;
    }

.tile.highlighted {
    box-shadow: 0 0.25rem 5.5rem rgba(12, 74, 124, 1) !important;
}
